.tab img,
.portrait {
    display: none;
}

.skill-trees {
    .skill-description,
    .skill-name,
    img {
        // display: none;
        visibility: hidden;
    }
}

.data-table {
    display: none;
}
