@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span,
h1, h2, h3,
a,
small,
figure,
ol, ul, li, dl, dt, dd,
label,
table, tr, th, td,
footer, header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
footer, header {
    display: block;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
}

h1, h2, h3 {
    font-weight: 700;
}

.portrait {
    position: absolute;
}

a {
    color: #0288d1;

}
a:hover {
    text-decoration: none;
}

.data-table {
    border-collapse: collapse;

}

th,
td {
    padding: 5px;
    border: 1px solid #ccc
}

.button {
    background: #ccc;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: block;
    border-radius: 2px;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    position: absolute;
    bottom: 5px;
}

.plus {
    left: 5px;
}
.minus {
    line-height: 18px;
    right: 5px;
}

.character-name,
.skill-description,
.skill-name {
}
.skill-description {
    text-align: left;
    border: 1px solid #ccc;
    padding: 5px;
}

.character {
    position: relative;
}
.skill-trees,
.tier {
    display: -webkit-flex;
    display: flex;
}

.skill-trees {
    border: 1px solid #ccc;
    position: relative;
    z-index: 100;
    background: rgba(255, 255, 255, .7);
    border-bottom: 5px solid #000;
    padding: 0 0 20px;
    margin: 0 5px 20px;
}

.tree {
    width: 33.33333%;
}

.tier {
    border: 1px solid #ccc;
    padding: 30px 5px 5px;
    margin: 5px;
    position: relative;

}
.tier::before {
    position: absolute;
    top: 5px;
}

/*
// .tier-1::before {
//     content: 'I';
// }
// .tier-2::before {
//     content: 'II';
// }
// .tier-3::before {
//     content: 'III';
// }
// .tier-4::before {
//     content: 'IV';
// }
// .tier-5::before {
//     content: 'V';
// }
*/
.slot {
    width: 33.33333%;
    text-align: center;
    position: relative;
    padding: 0 2px;
}

.tier-5 .slot {
    margin: auto;
    width: auto;
}


.icon {
    background: #111;
    border: 2px solid #111;
    display: inline-block;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    overflow: hidden;
}


.icon:hover {
    background: red;
    border: 2px solid red;
}

.icon:hover ~ .actions .points .point:last-child {
    background: red;
}

.icon img {
    width: auto;
    height: 100%;
}

.character-name {
    margin: 10px 30px 10px 5px;
}

.skill-name {
    margin: 0 0 5px;
}

.collapse {
    display: none;
    position: absolute;
    top: 0;
    right: 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: #ccc;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

[data-collapsed='true'] > .collapse::before {
    content: '+';
}

[data-collapsed='false'] > .collapse::before {
    content: '-';
}

.tier {
}
.tier[data-collapsed='true'] {
    .skill-details {
    }

}
.tier[data-collapsed='false'] {
    .skill-details {
        display: block;
    }
}

.tree {
}
.tree .collapse {
    top: 5px;
    border-radius: 50%;
}

.actions {
    text-align: center;
}
.actions::after {
    content: '';
    display: table;
    clear: both;
}

.points {
    display: inline-block;
    margin: 5px 0;
}
.point {
    display: inline-block;
    margin: 0 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /*background: #ccc;*/
    border: 1px solid #555;
    float: right;
}


[data-active-points='1'] .point:nth-child(5) {
    background: blue;
}
[data-active-points='2'] .point:nth-child(4),
[data-active-points='2'] .point:nth-child(5) {
    background: blue;
}

[data-active-points='3'] .point:nth-child(3),
[data-active-points='3'] .point:nth-child(4),
[data-active-points='3'] .point:nth-child(5) {
    background: blue;
}

[data-active-points='4'] .point:nth-child(2),
[data-active-points='4'] .point:nth-child(3),
[data-active-points='4'] .point:nth-child(4),
[data-active-points='4'] .point:nth-child(5) {
    background: blue;
}

[data-active-points='5'] .point {
    background: blue;
}

.point:hover {
    background: red;
}

.point:hover ~ .point {
    background: red;

}

.list {
    display: inline-block;
    vertical-align: top;
}

.character-list {
    width: 60%;
}

.skill-list {
    width: 38%;
}
