@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span,
h1, h2, h3,
a,
small,
figure,
ol, ul, li, dl, dt, dd,
label,
table, tr, th, td,
footer, header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
footer, header {
  display: block; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  padding: 10px; }

a {
  color: #0288d1; }
  a:hover {
    text-decoration: none; }

.page-title,
.points-control {
  margin: 0 0 10px; }

.container {
  display: inline-block;
  vertical-align: top; }

.container-trees {
  width: 65%; }

.container-table {
  width: 35%;
  padding-left: 15px; }

.portrait {
  position: absolute; }

.character-name {
  margin: 0 0 10px;
  float: right; }

.skill-name {
  font-size: 1.2rem; }

.skill-description {
  font-size: 1.2rem; }

.button {
  background: #0288d1;
  color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 2px;
  border: 0;
  outline: none;
  text-decoration: none;
  cursor: pointer; }
  .button:hover {
    background: #ccc; }
  .button:active {
    background: red; }

.button-reset {
  margin-left: 10px; }

.plus {
  left: 5px; }

.minus {
  line-height: 18px;
  right: 5px; }

.collapse {
  position: absolute;
  top: 0;
  right: 5px;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #aaa;
  color: #fff;
  text-decoration: none;
  text-align: center; }

[data-collapsed='true'] > .collapse::before {
  content: '+'; }

[data-collapsed='false'] > .collapse::before {
  content: '-'; }

.tree .collapse {
  top: 5px;
  border-radius: 50%; }

.skill-icon {
  background: #ccc;
  border: 2px solid #ccc;
  display: inline-block;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  overflow: hidden;
  position: relative;
  z-index: 100; }
  .skill-icon img {
    width: auto;
    height: 100%; }

.point-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #aaa;
  float: right; }

.is-active .skill-icon:hover {
  border-color: #ffa500; }

.is-active .point-icon:hover {
  border-color: #ffa500; }
  .is-active .point-icon:hover ~ .point-icon {
    border-color: #ffa500; }

.points {
  display: inline-block;
  margin: 5px 0; }

[data-points='1'] .point-1,
[data-points='2'] .point-2,
[data-points='2'] .point-2 ~ .point-icon,
[data-points='3'] .point-3,
[data-points='3'] .point-3 ~ .point-icon,
[data-points='4'] .point-4,
[data-points='4'] .point-4 ~ .point-icon,
[data-points='5'] .point-5,
[data-points='5'] .point-5 ~ .point-icon {
  background: #ffa500; }

.list li {
  display: inline-block;
  vertical-align: top; }

.slot {
  width: 33.33333%;
  text-align: center;
  position: relative;
  padding: 0 2px; }
  .slot .skill-name {
    min-height: 2.4em; }
  .slot .skill-description {
    min-height: 7em;
    max-height: 7em;
    overflow-y: auto;
    overflow-x: hidden; }

.tier-5 .slot {
  margin: auto;
  width: auto; }

.data-table {
  border-collapse: collapse; }
  .data-table th,
  .data-table td {
    padding: 3px 5px;
    border: 1px solid #aaa; }

.tier {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border: 1px solid #aaa;
  padding: 30px 5px 5px;
  margin: 5px;
  position: relative; }
  .tier::before {
    position: absolute;
    top: 5px; }
  .tier a {
    cursor: not-allowed; }

.tier-1::before {
  content: 'I'; }

.tier-2::before {
  content: 'II'; }

.tier-3::before {
  content: 'III'; }

.tier-4::before {
  content: 'IV'; }

.tier-5::before {
  content: 'V'; }

.tier[data-collapsed='false'] .skill-details {
  display: block; }

[data-active-tiers='1'] .tier-2,
[data-active-tiers='1'] .tier-3,
[data-active-tiers='1'] .tier-4,
[data-active-tiers='1'] .tier-5,
[data-active-tiers='2'] .tier-3,
[data-active-tiers='2'] .tier-4,
[data-active-tiers='2'] .tier-5,
[data-active-tiers='3'] .tier-4,
[data-active-tiers='3'] .tier-5,
[data-active-tiers='4'] .tier-5 {
  background: rgba(0, 0, 0, 0.1);
  opacity: .6; }
  [data-active-tiers='1'] .tier-2 a,
  [data-active-tiers='1'] .tier-3 a,
  [data-active-tiers='1'] .tier-4 a,
  [data-active-tiers='1'] .tier-5 a,
  [data-active-tiers='2'] .tier-3 a,
  [data-active-tiers='2'] .tier-4 a,
  [data-active-tiers='2'] .tier-5 a,
  [data-active-tiers='3'] .tier-4 a,
  [data-active-tiers='3'] .tier-5 a,
  [data-active-tiers='4'] .tier-5 a {
    cursor: pointer; }

.skill-trees {
  border: 1px solid #ccc;
  position: relative;
  z-index: 100;
  background: rgba(255, 255, 255, 0.92);
  padding: 5px; }
  .skill-trees .inner-wrapper {
    display: -webkit-flex;
    display: flex; }

.tree {
  width: 33.33333%; }

.tree-points {
  text-align: right;
  margin: 0 5px; }

#cornelius .tree-1 .tier-3 .slot-3::after,
#cornelius .tree-2 .tier-3 .slot-3::after,
#gislan .tree-1 .tier-1 .slot-3::after,
#gislan .tree-1 .tier-3 .slot-3::after,
#marvek .tree-2 .tier-1 .slot-3::after,
#marvek .tree-2 .tier-3 .slot-3::after,
#carabel .tree-1 .tier-2 .slot-3::after,
#carabel .tree-2 .tier-2 .slot-3::after,
#rudolfus .tree-1 .tier-1 .slot-3::after,
#rudolfus .tree-1 .tier-3 .slot-3::after,
#rudolfus .tree-2 .tier-2 .slot-3::after,
#rudolfus .tree-3 .tier-2 .slot-3::after,
#owl .tree-1 .tier-3 .slot-3::after,
#owl .tree-2 .tier-3 .slot-3::after,
#owl .tree-3 .tier-3 .slot-3::after,
#owl .tree-3 .tier-1 .slot-3::after,
#nim .tree-1 .tier-3 .slot-2::after,
#nim .tree-1 .tier-3 .slot-3::after,
#nim .tree-2 .tier-1 .slot-2::after,
#nim .tree-3 .tier-1 .slot-2::after,
#nim .tree-3 .tier-2 .slot-2::after,
#nim .tree-3 .tier-3 .slot-2::after,
#nim .tree-3 .tier-3 .slot-3::after,
#amadeus .tree-1 .tier-1 .slot-2::after,
#amadeus .tree-1 .tier-1 .slot-3::after,
#amadeus .tree-1 .tier-2 .slot-2::after,
#amadeus .tree-1 .tier-2 .slot-3::after,
#amadeus .tree-2 .tier-3 .slot-1::after,
#amadeus .tree-2 .tier-3 .slot-3::after,
#selius .tree-1 .tier-1 .slot-1::after,
#selius .tree-1 .tier-1 .slot-2::after,
#selius .tree-1 .tier-3 .slot-3::after,
#selius .tree-2 .tier-2 .slot-1::after,
#selius .tree-2 .tier-3 .slot-1::after,
#selius .tree-2 .tier-3 .slot-3::after,
#selius .tree-3 .tier-3 .slot-2::after,
#selius .tree-3 .tier-3 .slot-3::after {
  content: '';
  display: inline-block;
  background: #ccc;
  width: 10px;
  height: 190px;
  position: absolute;
  top: 82px;
  left: 0;
  right: 0;
  margin: auto; }

#cornelius .tree-1 .tier-3 .slot-3 .actions,
#cornelius .tree-1 .tier-3 .slot-3 .skill-details,
#cornelius .tree-2 .tier-3 .slot-3 .actions,
#cornelius .tree-2 .tier-3 .slot-3 .skill-details,
#gislan .tree-1 .tier-1 .slot-3 .actions,
#gislan .tree-1 .tier-1 .slot-3 .skill-details,
#gislan .tree-1 .tier-3 .slot-3 .actions,
#gislan .tree-1 .tier-3 .slot-3 .skill-details,
#marvek .tree-2 .tier-1 .slot-3 .actions,
#marvek .tree-2 .tier-1 .slot-3 .skill-details,
#marvek .tree-2 .tier-3 .slot-3 .actions,
#marvek .tree-2 .tier-3 .slot-3 .skill-details,
#carabel .tree-1 .tier-2 .slot-3 .actions,
#carabel .tree-1 .tier-2 .slot-3 .skill-details,
#carabel .tree-2 .tier-2 .slot-3 .actions,
#carabel .tree-2 .tier-2 .slot-3 .skill-details,
#rudolfus .tree-1 .tier-1 .slot-3 .actions,
#rudolfus .tree-1 .tier-1 .slot-3 .skill-details,
#rudolfus .tree-1 .tier-3 .slot-3 .actions,
#rudolfus .tree-1 .tier-3 .slot-3 .skill-details,
#rudolfus .tree-2 .tier-2 .slot-3 .actions,
#rudolfus .tree-2 .tier-2 .slot-3 .skill-details,
#rudolfus .tree-3 .tier-2 .slot-3 .actions,
#rudolfus .tree-3 .tier-2 .slot-3 .skill-details,
#owl .tree-1 .tier-3 .slot-3 .actions,
#owl .tree-1 .tier-3 .slot-3 .skill-details,
#owl .tree-2 .tier-3 .slot-3 .actions,
#owl .tree-2 .tier-3 .slot-3 .skill-details,
#owl .tree-3 .tier-3 .slot-3 .actions,
#owl .tree-3 .tier-3 .slot-3 .skill-details,
#owl .tree-3 .tier-1 .slot-3 .actions,
#owl .tree-3 .tier-1 .slot-3 .skill-details,
#nim .tree-1 .tier-3 .slot-2 .actions,
#nim .tree-1 .tier-3 .slot-2 .skill-details,
#nim .tree-1 .tier-3 .slot-3 .actions,
#nim .tree-1 .tier-3 .slot-3 .skill-details,
#nim .tree-2 .tier-1 .slot-2 .actions,
#nim .tree-2 .tier-1 .slot-2 .skill-details,
#nim .tree-3 .tier-1 .slot-2 .actions,
#nim .tree-3 .tier-1 .slot-2 .skill-details,
#nim .tree-3 .tier-2 .slot-2 .actions,
#nim .tree-3 .tier-2 .slot-2 .skill-details,
#nim .tree-3 .tier-3 .slot-2 .actions,
#nim .tree-3 .tier-3 .slot-2 .skill-details,
#nim .tree-3 .tier-3 .slot-3 .actions,
#nim .tree-3 .tier-3 .slot-3 .skill-details,
#amadeus .tree-1 .tier-1 .slot-2 .actions,
#amadeus .tree-1 .tier-1 .slot-2 .skill-details,
#amadeus .tree-1 .tier-1 .slot-3 .actions,
#amadeus .tree-1 .tier-1 .slot-3 .skill-details,
#amadeus .tree-1 .tier-2 .slot-2 .actions,
#amadeus .tree-1 .tier-2 .slot-2 .skill-details,
#amadeus .tree-1 .tier-2 .slot-3 .actions,
#amadeus .tree-1 .tier-2 .slot-3 .skill-details,
#amadeus .tree-2 .tier-3 .slot-1 .actions,
#amadeus .tree-2 .tier-3 .slot-1 .skill-details,
#amadeus .tree-2 .tier-3 .slot-3 .actions,
#amadeus .tree-2 .tier-3 .slot-3 .skill-details,
#selius .tree-1 .tier-1 .slot-1 .actions,
#selius .tree-1 .tier-1 .slot-1 .skill-details,
#selius .tree-1 .tier-1 .slot-2 .actions,
#selius .tree-1 .tier-1 .slot-2 .skill-details,
#selius .tree-1 .tier-3 .slot-3 .actions,
#selius .tree-1 .tier-3 .slot-3 .skill-details,
#selius .tree-2 .tier-2 .slot-1 .actions,
#selius .tree-2 .tier-2 .slot-1 .skill-details,
#selius .tree-2 .tier-3 .slot-1 .actions,
#selius .tree-2 .tier-3 .slot-1 .skill-details,
#selius .tree-2 .tier-3 .slot-3 .actions,
#selius .tree-2 .tier-3 .slot-3 .skill-details,
#selius .tree-3 .tier-3 .slot-2 .actions,
#selius .tree-3 .tier-3 .slot-2 .skill-details,
#selius .tree-3 .tier-3 .slot-3 .actions,
#selius .tree-3 .tier-3 .slot-3 .skill-details {
  position: relative;
  z-index: 100; }

#gislan .tree-1 .tier-1 .slot-3::after,
#marvek .tree-2 .tier-1 .slot-3::after,
#carabel .tree-1 .tier-2 .slot-3::after,
#carabel .tree-2 .tier-2 .slot-3::after,
#rudolfus .tree-1 .tier-1 .slot-3::after,
#owl .tree-3 .tier-1 .slot-3::after,
#nim .tree-2 .tier-1 .slot-2::after,
#amadeus .tree-1 .tier-2 .slot-2::after {
  height: 432px; }

#gislan .tree-1 .tier-2,
#gislan .tree-3 .tier-3,
#gislan .tree-3 .tier-1,
#gislan .tree-3 .tier-4,
#marvek .tree-1 .tier-1,
#marvek .tree-2 .tier-2,
#marvek .tree-3 .tier-1,
#marvek .tree-3 .tier-2,
#marvek .tree-3 .tier-4,
#carabel .tree-1 .tier-1,
#carabel .tree-1 .tier-3,
#carabel .tree-2 .tier-1,
#carabel .tree-2 .tier-3,
#carabel .tree-3 .tier-1,
#rudolfus .tree-1 .tier-2,
#rudolfus .tree-2 .tier-1,
#rudolfus .tree-2 .tier-4,
#rudolfus .tree-3 .tier-1,
#owl .tree-1 .tier-1,
#owl .tree-1 .tier-2,
#owl .tree-2 .tier-1,
#owl .tree-2 .tier-2,
#owl .tree-3 .tier-2,
#nim .tree-1 .tier-1,
#nim .tree-1 .tier-2,
#nim .tree-2 .tier-1,
#nim .tree-2 .tier-4,
#nim .tree-3 .tier-1,
#nim .tree-3 .tier-2,
#amadeus .tree-1 .tier-4,
#selius .tree-1 .tier-1 {
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

#rudolfus .tree-2 .tier-2,
#nim .tree-1 .tier-4,
#selius .tree-3 .tier-1,
#selius .tree-3 .tier-3 {
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

#gislan .tree-2 .tier-1,
#selius .tree-2 .tier-1 {
  -webkit-justify-content: center;
  justify-content: center; }

.tabs {
  margin: 0 0 -1px; }
  .tabs a {
    display: block;
    padding: 5px;
    width: 10em;
    text-align: center; }

.tab {
  display: inline-block;
  border: 1px solid #aaa;
  text-transform: capitalize;
  background: #f2f2f2; }
  .tab.is-selected {
    background: #fff;
    border-bottom: 1px solid #fff;
    padding-top: 10px; }

.tab-pane {
  border: 1px solid #aaa;
  padding: 10px;
  display: none; }
  .tab-pane.is-selected {
    display: block; }

.character-image {
  height: 50px;
  margin: 0 0 5px;
  opacity: .5; }
  .character-image img {
    max-height: 100%; }

.is-selected .character-image,
.tab:hover .character-image {
  opacity: 1; }

.user-input {
  width: 3em;
  border: 1px solid #aaa;
  padding: 3px 5px; }

.tab img,
.portrait {
  display: none; }

.skill-trees .skill-description,
.skill-trees .skill-name,
.skill-trees img {
  visibility: hidden; }

.data-table {
  display: none; }

/*# sourceMappingURL=../maps/style.css.map */
