html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: $font-size-base;
    font-family: $font-family-default;
    line-height: 1.2;
}

a {
    color: $color-link;

    &:hover {
        text-decoration: none;
    }
}
