html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: $font-size-base;
    font-family: $font-family-default;
    line-height: 1.2;
    padding: 10px;
}

a {
    color: $color-link;

    &:hover {
        text-decoration: none;
    }
}

.page-title,
.points-control {
    margin: 0 0 10px;
}

.container {
    display: inline-block;
    vertical-align: top;
}

.container-trees {
    width: 65%;
}

.container-table {
    width: 35%;
    padding-left: 15px;
}
