.button {
    background: $color-link;
    color: #fff;
    // width: 20px;
    // height: 20px;
    // line-height: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    border: 0;
    outline: none;
    // font-size: 2rem;
    text-decoration: none;
    // position: absolute;
    // bottom: 5px;
    cursor: pointer;

    &:hover {
        background: #ccc;
    }

    &:active {
        background: red;
    }
}

.button-reset {
    margin-left: 10px;
}

.plus {
    left: 5px;
}
.minus {
    line-height: 18px;
    right: 5px;
}
