$icon-size: 56px;
$active-color: red;
$hovered-color: #ccc;
.skill-icon {
    background: $background-skill-icon;
    border: 2px solid $background-skill-icon;
    display: inline-block;
    border-radius: 50%;
    width: $icon-size;
    height: $icon-size;
    overflow: hidden;

    img {
        width: auto;
        height: 100%;
    }
}

$point-icon-size: 15px;
.point-icon {
    display: inline-block;
    // margin: 0 2px;
    width: $point-icon-size;
    height: $point-icon-size;
    border-radius: 50%;
    border: 1px solid $color-border;
    float: right;

    &:hover {
        background: $hovered-color;

        ~ .point-icon {
            background: $hovered-color;
        }
    }

}

.points {
    display: inline-block;
    margin: 5px 0;
}

.is-hovered[data-active-points='0'] .point-1 {
    background: $hovered-color;
}

[data-active-points='1'] .point-1,
[data-active-points='2'] .point-2,
[data-active-points='2'] .point-2 ~ .point-icon,
[data-active-points='3'] .point-3,
[data-active-points='3'] .point-3 ~ .point-icon,
[data-active-points='4'] .point-4,
[data-active-points='4'] .point-4 ~ .point-icon,
[data-active-points='5'] .point-5,
[data-active-points='5'] .point-5 ~ .point-icon {
    background: $active-color;
}
