.portrait {
    position: absolute;
}

.character-name {
    margin: 0 0 10px;
    float: right;
}

.skill-name {
    font-size: $font-size-small;
}

.skill-description {
    font-size: $font-size-small;
}
