.nim {
    .tree-1 {
        .tier-1 {
            .slot-1 {
                background-image: url('../img/nim/icons/tree1-tier1-slot1.png');
            }
            .slot-2 {
                background-image: url('../img/nim/icons/tree1-tier1-slot2.png');
            }
        }
        .tier-2 {
            .slot-1 {
                background-image: url('../img/nim/icons/tree1-tier2-slot1.png');
            }
            .slot-2 {
                background-image: url('../img/nim/icons/tree1-tier2-slot2.png');
            }
        }
        .tier-3 {
            .slot-1 {
                background-image: url('../img/nim/icons/tree1-tier3-slot1.png');
            }
            .slot-2 {
                background-image: url('../img/nim/icons/tree1-tier3-slot2.png');
            }
            .slot-3 {
                background-image: url('../img/nim/icons/tree1-tier3-slot3.png');
            }
        }
        .tier-4 {
            .slot-2 {
                background-image: url('../img/nim/icons/tree1-tier4-slot2.png');
            }
            .slot-3 {
                background-image: url('../img/nim/icons/tree1-tier4-slot3.png');
            }
        }
        .tier-5 {
            .slot-2 {
                background-image: url('../img/nim/icons/tree1-tier5-slot2.png');
            }
        }
    }

    .tree-2 {
        .tier-1 {
            .slot-1 {
                background-image: url('../img/nim/icons/tree2-tier1-slot1.png');
            }
            .slot-2 {
                background-image: url('../img/nim/icons/tree2-tier1-slot2.png');
            }
        }
        .tier-2 {
            .slot-1 {
                background-image: url('../img/nim/icons/tree2-tier2-slot1.png');
            }
            .slot-3 {
                background-image: url('../img/nim/icons/tree2-tier2-slot3.png');
            }
        }
        .tier-3 {
            .slot-1 {
                background-image: url('../img/nim/icons/tree2-tier3-slot1.png');
            }
            .slot-3 {
                background-image: url('../img/nim/icons/tree2-tier3-slot3.png');
            }
        }
        .tier-4 {
            .slot-1 {
                background-image: url('../img/nim/icons/tree2-tier4-slot1.png');
            }
            .slot-2 {
                background-image: url('../img/nim/icons/tree2-tier4-slot2.png');
            }
            .slot-3 {
                background-image: url('../img/nim/icons/tree2-tier4-slot3.png');
            }
        }
        .tier-5 {
            .slot-2 {
                background-image: url('../img/nim/icons/tree2-tier5-slot2.png');
            }
        }
    }

    .tree-3 {
        .tier-1 {
            .slot-1 {
                background-image: url('../img/nim/icons/tree3-tier1-slot1.png');
            }
            .slot-3 {
                background-image: url('../img/nim/icons/tree3-tier1-slot3.png');
            }
        }
        .tier-2 {
            .slot-1 {
                background-image: url('../img/nim/icons/tree3-tier2-slot1.png');
            }
            .slot-2 {
                background-image: url('../img/nim/icons/tree3-tier2-slot2.png');
            }
        }
        .tier-3 {
            .slot-1 {
                background-image: url('../img/nim/icons/tree3-tier3-slot1.png');
            }
            .slot-2 {
                background-image: url('../img/nim/icons/tree3-tier3-slot2.png');
            }
            .slot-3 {
                background-image: url('../img/nim/icons/tree3-tier3-slot3.png');
            }
        }
        .tier-4 {
            .slot-1 {
                background-image: url('../img/nim/icons/tree3-tier4-slot1.png');
            }
            .slot-2 {
                background-image: url('../img/nim/icons/tree3-tier4-slot2.png');
            }
            .slot-3 {
                background-image: url('../img/nim/icons/tree3-tier4-slot3.png');
            }
        }
        .tier-5 {
            .slot-2 {
                background-image: url('../img/nim/icons/tree3-tier5-slot2.png');
            }
        }
    }
}
