.slot {
    width: 33.33333%;
    text-align: center;
    position: relative;
    padding: 0 2px;

    .skill-name {
        min-height: 2.4em;
    }

    .skill-description {
        min-height: 7em;
        max-height: 7em;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.tier-5 {
    .slot {
        margin: auto;
        width: auto;
    }
}


