.tabs {
    li {
        display: inline-block;
        border: 1px solid $color-border;
        text-transform: capitalize;
    }

    a {
        display: block;
        padding: 5px;
        width: 10em;
        text-align: center;
    }

    .is-active {
        background: $background-gray-light;
    }
}

.tab-pane {
    border: 1px solid $color-border;
    padding: 10px;
    display: none;

    &.is-active {
        display: block;
    }
}
