.tabs {
    margin: 0 0 -1px;

    a {
        display: block;
        padding: 5px;
        width: 10em;
        text-align: center;
    }
}

.tab {
    display: inline-block;
    border: 1px solid $color-border;
    text-transform: capitalize;
    background: $background-gray-light;

    &.is-selected {
        background: #fff;
        border-bottom: 1px solid #fff;
        padding-top: 10px;
    }
}

.tab-pane {
    border: 1px solid $color-border;
    padding: 10px;
    display: none;

    &.is-selected {
        display: block;
    }
}

.character-image {
    height: 50px;
    margin: 0 0 5px;
    opacity: .5;

    img {
        max-height: 100%;
    }
}

.is-selected .character-image,
.tab:hover .character-image {
         opacity: 1;
}
