.tier {
    @include flexbox;
    @include justify-content(space-between);
    border: 1px solid $color-border;
    padding: 30px 5px 5px;
    margin: 5px;
    position: relative;
    background: rgba(0, 0, 0, .1);
    opacity: .6;

    &::before {
        position: absolute;
        top: 5px;
    }

    a {
        cursor: not-allowed;
    }

    &.is-active {
        background: transparent;
        opacity: 1;

        a {
            cursor: pointer;
        }
    }
}

.tier-1::before {
    content: 'I';
}
.tier-2::before {
    content: 'II';
}
.tier-3::before {
    content: 'III';
}
.tier-4::before {
    content: 'IV';
}
.tier-5::before {
    content: 'V';
}

.tier {
    &[data-collapsed='true'] {
        .skill-details {
            // display: none;
        }

    }
    &[data-collapsed='false'] {
        .skill-details {
            display: block;
        }
    }
}

#cornelius {
    .tree-1 .tier-3 .slot-3,
    .tree-2 .tier-3 .slot-3 {
        position: relative;

        &::after {
            content: '';
            display: inline-block;
            background: #ccc;
            width: 10px;
            height: 190px;
            position: absolute;
            top: 82px;
            left: 0;
            right: 0;
            margin: auto;
        }

        .actions,
        .skill-details {
            position: relative;
            z-index: 100;

        }
    }
}
