.skill-trees {
    border: 1px solid #ccc;
    position: relative;
    z-index: 100;
    background: rgba(255, 255, 255, .92);
    padding: 5px;

    .inner-wrapper {
        @include flexbox;
    }
}

.tree {
    width: 33.33333%;
}
