.skill-trees {
    border: 1px solid #ccc;
    position: relative;
    z-index: 100;
    background: rgba(255, 255, 255, .92);
    padding: 5px;

    .inner-wrapper {
        @include flexbox;
    }
}

.tree {
    width: 33.33333%;
}

.tree-points {
    text-align: right;
    margin: 0 5px;
}

#cornelius .tree-1 .tier-3 .slot-3,
#cornelius .tree-2 .tier-3 .slot-3,
#gislan .tree-1 .tier-1 .slot-3,
#gislan .tree-1 .tier-3 .slot-3,
#marvek .tree-2 .tier-1 .slot-3,
#marvek .tree-2 .tier-3 .slot-3,
#carabel .tree-1 .tier-2 .slot-3,
#carabel .tree-2 .tier-2 .slot-3,
#rudolfus .tree-1 .tier-1 .slot-3,
#rudolfus .tree-1 .tier-3 .slot-3,
#rudolfus .tree-2 .tier-2 .slot-3,
#rudolfus .tree-3 .tier-2 .slot-3,
#owl .tree-1 .tier-3 .slot-3,
#owl .tree-2 .tier-3 .slot-3,
#owl .tree-3 .tier-3 .slot-3,
#owl .tree-3 .tier-1 .slot-3,
#nim .tree-1 .tier-3 .slot-2,
#nim .tree-1 .tier-3 .slot-3,
#nim .tree-2 .tier-1 .slot-2,
#nim .tree-3 .tier-1 .slot-2,
#nim .tree-3 .tier-2 .slot-2,
#nim .tree-3 .tier-3 .slot-2,
#nim .tree-3 .tier-3 .slot-3,
#amadeus .tree-1 .tier-1 .slot-2,
#amadeus .tree-1 .tier-1 .slot-3,
#amadeus .tree-1 .tier-2 .slot-2,
#amadeus .tree-1 .tier-2 .slot-3,
#amadeus .tree-2 .tier-3 .slot-1,
#amadeus .tree-2 .tier-3 .slot-3,
#selius .tree-1 .tier-1 .slot-1,
#selius .tree-1 .tier-1 .slot-2,
#selius .tree-1 .tier-3 .slot-3,
#selius .tree-2 .tier-2 .slot-1,
#selius .tree-2 .tier-3 .slot-1,
#selius .tree-2 .tier-3 .slot-3,
#selius .tree-3 .tier-3 .slot-2,
#selius .tree-3 .tier-3 .slot-3 {
    &::after {
        content: '';
        display: inline-block;
        background: #ccc;
        width: 10px;
        height: 190px;
        position: absolute;
        top: 82px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .actions,
    .skill-details {
        position: relative;
        z-index: 100;
    }
}

#gislan .tree-1 .tier-1 .slot-3,
#marvek .tree-2 .tier-1 .slot-3,
#carabel .tree-1 .tier-2 .slot-3,
#carabel .tree-2 .tier-2 .slot-3,
#rudolfus .tree-1 .tier-1 .slot-3,
#owl .tree-3 .tier-1 .slot-3,
#nim .tree-2 .tier-1 .slot-2,
#amadeus .tree-1 .tier-2 .slot-2 {
    &::after {
        height: 432px;
    }
}

#gislan .tree-1 .tier-2,
#gislan .tree-3 .tier-3,
#gislan .tree-3 .tier-1,
#gislan .tree-3 .tier-4,
#marvek .tree-1 .tier-1,
#marvek .tree-2 .tier-2,
#marvek .tree-3 .tier-1,
#marvek .tree-3 .tier-2,
#marvek .tree-3 .tier-4,
#carabel .tree-1 .tier-1,
#carabel .tree-1 .tier-3,
#carabel .tree-2 .tier-1,
#carabel .tree-2 .tier-3,
#carabel .tree-3 .tier-1,
#rudolfus .tree-1 .tier-2,
#rudolfus .tree-2 .tier-1,
#rudolfus .tree-2 .tier-4,
#rudolfus .tree-3 .tier-1,
#owl .tree-1 .tier-1,
#owl .tree-1 .tier-2,
#owl .tree-2 .tier-1,
#owl .tree-2 .tier-2,
#owl .tree-3 .tier-2,
#nim .tree-1 .tier-1,
#nim .tree-1 .tier-2,
#nim .tree-2 .tier-1,
#nim .tree-2 .tier-4,
#nim .tree-3 .tier-1,
#nim .tree-3 .tier-2,
#amadeus .tree-1 .tier-4,
#selius .tree-1 .tier-1 {
    @include justify-content(flex-start);
}

#rudolfus .tree-2 .tier-2,
#nim .tree-1 .tier-4,
#selius .tree-3 .tier-1,
#selius .tree-3 .tier-3 {
    @include justify-content(flex-end);
}

#gislan .tree-2 .tier-1,
#selius .tree-2 .tier-1 {
    @include justify-content(center);
}

// #selius
