$color-border: #aaa;
$color-link: #0288d1;
$color-accent: #ffa500;

$background-skill-icon: #ccc;
$background-gray-light: #f2f2f2;

$font-family-default: 'Open Sans', sans-serif;
$font-size-base:  1.2rem;
$font-size-small:  1.2rem;
