/* ------------------------------------ */
/* #$colors
/* ------------------------------------ */

$border-color: #aaa;

$color-primary: #03a9f4;
$color-primary-darker: #0288d1;
$color-accent: #ffc107;
$color-accent-darker: #ffa000;

$color-green: #72d017;

$color-error: #c00009;
$color-error-bg: #ffe6e7;

$color-disabled: #aaa;
$color-bg-disabled: #eee;
$color-border-disabled: #ccc;


$font-color-default: #000;

/* ------------------------------------ */
/* #$visualizer color
/* ------------------------------------ */
$visualizer-bg: #222;

$note-color-green: #94ff3e;
$note-color-blue: #96bfe6;
$note-color-orange: #ffae28;
$note-color-red: #fc545a;
$note-color-purple: #d081e0;

$note-color-green-dark: #4ba10b;
$note-color-blue-dark: #346cab;
$note-color-orange-dark: #fb8606;
$note-color-red-dark: #e1060a;
$note-color-purple-dark: #92569e;

/* ------------------------------------ */
/* #$fonts
/* ------------------------------------ */
$font-family-secondary: 'Lato', sans-serif;
$font-family-default: 'Open Sans', sans-serif;
$font-family-music: 'Rozha One', sans-serif;

$font-size-base:  1.6rem;
$font-size-smaller:  1.6rem;
$font-size-smallest:  1.4rem;

$visualizer-height: 500px;
